/*=== GLOBAL STYLES ===*/ 
*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(221, 221, 219); 
  margin: 0px 
}

#main{
  margin-top: 10px;
  margin-bottom: 100px;
}

aside{
  margin-bottom: 100px;
}

/*=== NAVIGATION ===*/ 
#hamburger {
  font-size:30px;
  cursor:pointer;
  color: #fff;
  margin: 0% 1%
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgb(62, 105, 223);
  color: white;
}

.select {
  background-color: #ddd;
  color: rgb(62, 105, 223) !important;
}

/*=== SIDEBAR ===*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(62, 105, 223);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #fff;
  color: #000;
}

.sidenav .active {
  background-color: #333;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: .5s;
  padding: 16px;
}

/*=== FORMS ===*/ 

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

#message{
  height:200px;
  width: 100%
}

.para {
  padding: 2% 2%;
  background-color: #ddd
}
/* Set a style for all buttons */
/* button {
  background-color: rgb(62, 105, 223);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} */

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  /* background-color: #cf6159; */
  border-radius: 4px;
}

.loginbtn {
  width: auto;
  padding: 10px 18px;
  border-radius: 4px;
  float: right;
}

.deletebtn, .editbtn, .viewbtn {
  width: auto;
  font-size: 14px;
  padding: 10px 18px;
  font-family: 'Lucida Sans', sans-serif;
  color: rgb(22, 21, 21)
}

.btnfloat {
  float: right;
}
.viewbtn:hover {
  background-color: rgb(62, 105, 223);
  color: #fff;
}

.deletebtn:hover {
  background-color: #f44336;
  color: #fff;
}

.editbtn:hover {
  background-color: #4caf50;
  color: #fff;
}

input[type=submit] {
  background-color: rgb(62, 105, 223);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
/* 
.login-form {
  margin: 2% auto;
} */

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: rgb(62, 105, 223);
  color: white;
  padding: 8px;
  margin: 10px 2%;
  border: none;
  width: auto;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  color: #fff
}

.savebtn {
  width: 70px;
  background-color: #4caf50;
}

.sendbtn{
  width: 70px;
}

span.price {
  float: right;
  color: grey;
}

.user-area {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 3%;
}

.title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.check {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.create{
  border: 2px solid #b2beb5;
	margin: 0px 0px 0px 0px;
	position: absolute;
	top: 55%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
  width: 40%;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.check:hover, a:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
}
/*=== ADMIN AREA ===*/ 
/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  font-size: 14px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the add user button */
.add {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  margin-right: 5%;
  font-size: 14px;
}

.add:hover {
  background-color: #4caf50;
  color: white;
}

/* Style the header */
.header {
  background-color: rgb(62, 105, 223);
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header-user {
  background-color: rgb(85, 174, 200);
  padding: 30px 40px;
  color: white;
  text-align: center;
  margin-top: 3%;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  min-width: 25%;
  background: #4caf50;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/*=== LEADER ===*/
.leader {
  margin-bottom: 20px;
}

.lead {
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

.lead-title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

/*=== CHAT AREA ===*/ 
/* Chat containers */
.container-chat {
  border: 2px solid #dedede;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 30px 0;
  box-shadow: 0 4px 8px 0 rgba(151, 145, 145, 0.2);
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: rgb(243, 238, 238);
}

/* Clear floats */
.container-chat::after {
  content: "";
  clear: both;
  display: table;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
  font-size: 70%;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

/*=== FOOTER ===*/ 
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: rgb(62, 105, 223);
  background-attachment: scroll;
  background-position: 0% 0%;
  color: white;
  text-align: center;
}

.footer p{
  padding: 2px 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  flex: 25%;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

/* For the create form, When the screen is less than 800px wide, 
make the two columns stack on top of each other instead of next to each other 
(and change the direction*/
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

/* Sidenav */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* The width of the login form */
@media (min-width: 767px) {
  .login-form{
    width: 30%;
    margin: 2% auto;
  }

  a .add { 
    display: none !important;
  }

  #main {
    padding: 0% 20%
  }
} 

@media (max-width: 991px) {
  .login-form{
    width: 40%;
  }
}

@media (max-width: 767px) {
  .login-form{
    width: 50%;
    margin: 20% auto;
  }
}

@media (max-width: 699px) {
  .login-form{
    width: 70%;
    margin: 20% auto;
  }
}

@media (max-width: 500px) {
  .login-form{
    width: 100%;
    margin: 20% auto;
  }
}

@media (max-width: 767px) {
  .add{
    margin: 0% 20% 0% 0%;
  }
}

@media (min-width: 767px) {
  .add{
    margin: 0% 10% 0% 0%;
  }
}

@media (min-width: 1200px) {
  #mySidenav {
    width: 200px
  }
  #main {
    margin-left: 50px;
  }
  .closebtn{
    display: none !important;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 200px ;
  }

  .content {
    margin-left: 50px;
  }
}