<!DOCTYPE html>
<html lang="en">

<head>
   <title>EPIC Mail</title>
   <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta charset="utf-8">
   <link rel="stylesheet" href="css/styles.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>

      <nav class="topnav" id="topnav">
        <a href="login.html" class="active">Login</a>
        <a href="signup.html">Sign Up</a>
      </nav>

      <main>
         <section class="login-form">
            <form action="inbox.html">
                <div class="container">
                  <h1>Reset Password</h1><hr>
                  <label for="email">Enter your email address</label>
                  <input type="email" placeholder="eg: test@epic-mail.com" name="email" required>

                  <div class="clearfix">
                    <!-- <button type="button" class="cancelbtn">Cancel</button> -->
                    <button type="submit" class="btn">Reset</button>
                  </div>
                </div>
              </form>
         </section>
      </main>
   

      <footer class="footer">
            <p>Copyright (c) 2019 <a href="/"><strong>EPIC Mail</strong></a> All Rights Reserved.</p>
        </footer>
  <script src="js/script.js"></script>
</body>
</html>